@model WebCode.Controllers.HomeItem
@{
    ViewBag.Title = "Home Page";
}
<!-- Short banner __________________________ -->
<div class="short-banner">
    <div class="container">
        <div class="opacity p-color-bg top-text clear-fix">
            <div class="float-left">
                <h3>I want to spend my life helping people,</h3>
                <span>how can I do so while also making a good living?</span>
                <p>We felt the risky environment and circumstances for children over the world. Then we started working for them in a village. Day after day, we received a delightful response from the people who keep.... </p>
            </div>

            <a href="#" class="tran3s float-right hvr-bounce-to-right">Join Us</a>
        </div> <!-- /.opacity -->
    </div> <!-- /.container -->
</div> <!-- /.short-banner -->
<!-- Two Column Text ______________________ -->
<div class="tow-column-text">
    <div class="container">
        <div class="left-half float-left">
            <i class="fa fa-signal" aria-hidden="true"></i>
            <span class="p-color-bg"></span>
            <h6>OUR MISSION</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ali- quam neque urna, venenatis convallis quam et, facilisis vestib- ulum nunc.Integer vitae condimentum</p>
            <a href="about-us.html" class="tran3s p-color-bg hvr-bounce-to-right">Learn More</a>
        </div> <!-- /.left-half -->
        <div class="right-half float-left">
            <i class="fa fa-fire" aria-hidden="true"></i>
            <span class="p-color-bg shape-fix"></span>
            <h6>OUR STORY</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ali- quam neque urna, venenatis convallis quam et, facilisis vestib- ulum nunc.Integer vitae condimentum</p>
            <a href="about-us.html" class="tran3s p-color-bg hvr-bounce-to-right">Learn More</a>
        </div> <!-- /.left-half -->
    </div> <!-- /.container -->
</div> <!-- /.tow-column-text -->
<!-- Most Emergency CAUSE ________________  -->
<div class="emergency-cause skills">
    <div class="container">
        <div class="float-left left-side">
            <h4>Most Emergency CAUSE</h4>
            <div class="text">
                <h6>Our greatest successes in life</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Prae- sentium amet ea dicta neque, ut quis omnis quos nam, paria- tur.Together, we're going to make the future of the children where we are able to fulfill all of their requirements </p>
            </div> <!-- /.text -->
            <h6>Donated</h6>
            <div class="codeconSkillbar">
                <div class="skillBar" data-percent="91%">
                    <span class="PercentText p-color">91%</span>
                </div>
            </div>
        </div> <!-- /.left-side -->

        <div class="float-left right-side">
            <div class="text-wrapper p-color-bg">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <h6>Money Needed</h6>
                        <span>$</span>
                        <span class="timer" data-from="10" data-to="40000" data-speed="2500" data-refresh-interval="10">0</span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <h6>Money Manage</h6>
                        <span>$</span>
                        <span class="timer" data-from="10" data-to="35670" data-speed="2500" data-refresh-interval="10">0</span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h6>Total Donators</h6>
                        <span class="timer" data-from="10" data-to="312" data-speed="2500" data-refresh-interval="10">0</span>
                    </div>
                </div>
            </div> <!-- /.text-wrapper -->

            <a href="cause.html" class="p-color-bg tran3s hvr-bounce-to-right solid">View More</a>
            <a href="#" class="hvr-bounce-to-right-two" data-toggle="modal" data-target="#donate">Donate</a>
        </div> <!-- /.right-side -->
    </div> <!-- /.container -->
</div> <!-- /.emergency-cause -->
<!-- Our Causes ___________________________ -->
<div class="our-causes skills">
    <div class="container">
        <div class="theme-title">
            <h2>OUR CAUSES</h2>
            <p>Run to help children and people for right care</p>
            <span></span>
        </div> <!-- /.theme-title -->

        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                <div class="single-cause-wrapper clear-fix">
                    <div class="img-holder float-left"><img src="~/Content/images/cause/1.jpg" alt="Image"></div>
                    <div class="text float-left">
                        <h6><a href="cause-details-1.html">Encourage For Zakat to people</a></h6>
                        <p>Zakat is something too many Muslims neglect. If you are eligible to give Zakat,</p>
                        <div class="codeconSkillbar">
                            <div class="skillBar" data-percent="45%">
                                <span class="PercentText p-color">45%</span>
                            </div> <!-- /.skillBar -->
                        </div> <!-- /.codeconSkillbar -->

                        <div class="target-ammount clear-fix">
                            <span class="float-left">Collected : <b>12380$</b></span>
                            <span class="float-right">Goal : <b>12380$</b></span>
                        </div>
                        <a href="#" class="tran3s p-color-bg hvr-bounce-to-right" data-toggle="modal" data-target="#donate">Donate</a>
                    </div>
                </div> <!-- /.single-cause-wrapper -->

                <div class="single-cause-wrapper clear-fix">
                    <div class="img-holder float-left"><img src="~/Content/images/cause/2.jpg" alt="Image"></div>
                    <div class="text float-left">
                        <h6><a href="cause-details-1.html">Visit a poor part of town</a></h6>
                        <p>How many big cities have "poor quarters"? Almost every single one.... </p>
                        <div class="codeconSkillbar">
                            <div class="skillBar" data-percent="55%">
                                <span class="PercentText p-color">55%</span>
                            </div> <!-- /.skillBar -->
                        </div> <!-- /.codeconSkillbar -->

                        <div class="target-ammount clear-fix">
                            <span class="float-left">Collected : <b>24380$</b></span>
                            <span class="float-right">Goal : <b>32380$</b></span>
                        </div>
                        <a href="#" class="tran3s p-color-bg hvr-bounce-to-right" data-toggle="modal" data-target="#donate">Donate</a>
                    </div>
                </div> <!-- /.single-cause-wrapper -->
            </div> <!-- /.col- -->

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="single-cause-wrapper">
                    <div class="img-holder"><img src="~/Content/images/cause/3.jpg" alt="Image"></div>
                    <div class="text fix">
                        <h6><a href="cause-details-1.html">Love Poor people,Share fund</a></h6>
                        <p>Donec varius ultrices purus. ullam sit amet sapien tortor,Lorem Fund</p>
                        <div class="codeconSkillbar">
                            <div class="skillBar" data-percent="45%">
                                <span class="PercentText p-color">45%</span>
                            </div> <!-- /.skillBar -->
                        </div> <!-- /.codeconSkillbar -->

                        <div class="target-ammount clear-fix">
                            <span class="float-left">Collected : <b>12380$</b></span>
                            <span class="float-right">Goal : <b>12380$</b></span>
                        </div>
                        <a href="#" class="tran3s p-color-bg hvr-bounce-to-right" data-toggle="modal" data-target="#donate">Donate</a>
                    </div>
                </div> <!-- /.single-cause-wrapper -->
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.our-causes -->
<!-- Page Middle Banner ___________________ -->
<div class="page-middle-banner bg1">
    <div class="opacity">
        <div class="container">
            <h2>WAYS TO HELP THE <span class="p-color">POOR</span></h2>
            <p>As we think about the poor, the abused, the helpless...what can our compassion accomplish for them? A lot. It takes just a few minutes with the news to know the needs in the slums, the refugee camps, the AIDs orphans. No individual can solve the world's needs. But perhaps we could do something.</p>
            <h5>Be The Change</h5>
            <a href="#" class="p-color-bg hvr-bounce-to-right" data-toggle="modal" data-target="#donate">DONATE</a>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.page-middle-banner -->
<!-- Why Choose US _________________________ -->
<div class="why-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 choose-us">
                <div class="right-space-fix">
                    <h5 class="title-style-one">Why Chose us</h5>
                    <p>If they knew about it, there are Africans who can solve many of their own nutrition problems with plants and herbs already growing there. Literal- ly. Nutritionists could show them that the Moringa trees growing in their back yards have seven times more vitamin C than oranges,four times more vitamin A than carrots</p>
                    <div class="clear-fix">
                        <div class="single-box float-left tran4s">
                            <i class="fa fa-anchor" aria-hidden="true"></i>
                            <h6>Most Trusted</h6>
                            <a href="about-us.html">Read More <span></span></a>
                        </div> <!-- /.single-box -->

                        <div class="single-box float-left tran4s">
                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                            <h6>Super Growth</h6>
                            <a href="about-us.html">Read More <span></span></a>
                        </div> <!-- /.single-box -->
                        <div class="clear-fix"></div>
                        <div class="single-box float-left tran4s">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <h6>Our Foundation</h6>
                            <a href="about-us.html">Read More <span></span></a>
                        </div> <!-- /.single-box -->
                        <div class="single-box float-left tran4s">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <h6>Awesome Work</h6>
                            <a href="about-us.html">Read More <span></span></a>
                        </div> <!-- /.single-box -->
                    </div>
                </div> <!-- /.right-space-fix -->
            </div> <!-- /.choose-us -->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 who-we-are">
                <div>
                    <h5 class="title-style-one">WHO WE ARE</h5>
                    <p>If they knew about it, there are Africans who can solve many of their own nutrition problems with plants and herbs already growing there. Literal- ly. Nutritionists could show them that the Moringa trees growing in their back yards have seven times more vitamin C than oranges,four times more vitamin A than carrots</p>
                    <img src="~/Content/images/home/2.jpg" alt="image">
                    <ul>
                        <li>We dream about a new world for the children </li>
                        <li>Together, we're going to make the future</li>
                        <li>God can guide us in helping the poor, He us share your food with the hungry </li>
                    </ul>
                </div>
            </div> <!-- /.who-we-are -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.why-choose-us -->
<!-- Our Gallery Home __________________________ -->
<div class="our-gallery home-gallery">
    <div class="container">
        <div class="theme-title">
            <h2>OUR GALLERY</h2>
            <p>What’s My Purpose in Life? Share our latest project gallery of last 12 years</p>
            <span></span>
        </div> <!-- /.theme-title -->

        <div class="clear-fix">
            <div class="left-side float-left">
                <div class="gallery-menu-wrapper">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active">
                            <a href="#all" data-toggle="tab">All Gallery</a>
                        </li>
                        <li>
                            <a href="#children" data-toggle="tab">Children</a>
                        </li>
                        <li>
                            <a href="#rural" data-toggle="tab">Rural people</a>
                        </li>
                        <li>
                            <a href="#homeless" data-toggle="tab">Homeless people</a>
                        </li>
                        <li>
                            <a href="#ciclone" data-toggle="tab">ciclone victem</a>
                        </li>
                        <li>
                            <a href="#p-victim" data-toggle="tab">Poor victim people</a>
                        </li>
                        <li>
                            <a href="#natural" data-toggle="tab">Natural</a>
                        </li>
                    </ul>
                </div> <!-- /.gallery-menu-wrapper -->
            </div> <!-- /.col- -->

            <div class="right-side float-left">
                <div class="tab-wrapper tab-content">
                    <!-- All -->
                    <div class="tab-pane active" id="all">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #all -->
                    <!-- Children -->
                    <div class="tab-pane fade" id="children">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #children -->
                    <!-- Rural People -->
                    <div class="tab-pane fade" id="rural">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #rural -->
                    <!-- Homeless People -->
                    <div class="tab-pane fade" id="homeless">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #homeless -->
                    <!-- Ciclone People -->
                    <div class="tab-pane fade" id="ciclone">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #ciclone -->
                    <!-- Poor victim -->
                    <div class="tab-pane fade" id="p-victim">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #p-victim -->
                    <!-- natural -->
                    <div class="tab-pane fade" id="natural">
                        <div class="gallery-main-img-wrapper row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/3.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/3.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/2.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/2.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/4.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/4.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="single-img-wrapper">
                                    <div class="img">
                                        <img src="~/Content/images/gallery/1.jpg" alt="Image">
                                        <div class="opacity tran3s">
                                            <div>
                                                <a href="~/Content/images/gallery/1.jpg" class="fancybox"><span><i class="fa fa-camera" aria-hidden="true"></i></span></a>
                                            </div>
                                        </div>
                                    </div> <!-- /.img -->
                                </div> <!-- /.single-img-wrapper -->
                            </div> <!-- /.col- -->
                        </div> <!-- /.gallery-main-img-wrapper -->
                    </div> <!-- End of #natural -->
                </div> <!-- /.tab-wrapper -->
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.our-gallery -->
<!-- Our Staff _____________________________ -->
<div class="our-staff">
    <div class="container">
        <div class="theme-title">
            <h2>Staff</h2>
            <p>Have a Big team working edicatedly to save the child, staff work 24 hours for emerjency injure patient</p>
            <span></span>
        </div> <!-- /.theme-title -->

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="single-staff">
                    <div class="img">
                        <img src="~/Content/images/staff/1.jpg" alt="Image">
                        <div class="opacity tran3s">
                            <div>
                                <a href="staff-profile-v1.html"><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div> <!-- /.img -->
                    <h6><a href="staff-profile-v1.html">ASFIA ASFE</a></h6>
                    <span>Volunteer Staff</span>
                    <ul>
                        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- /.single-staff -->
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="single-staff">
                    <div class="img">
                        <img src="~/Content/images/staff/2.jpg" alt="Image">
                        <div class="opacity tran3s">
                            <div>
                                <a href="staff-profile-v1.html"><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div> <!-- /.img -->
                    <h6><a href="staff-profile-v1.html">MAHFUZ RIAD</a></h6>
                    <span>Volunteer Staff</span>
                    <ul>
                        <li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- /.single-staff -->
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="single-staff">
                    <div class="img">
                        <img src="~/Content/images/staff/3.jpg" alt="Image">
                        <div class="opacity tran3s">
                            <div>
                                <a href="staff-profile-v1.html"><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div> <!-- /.img -->
                    <h6><a href="staff-profile-v1.html">RASHED JA</a></h6>
                    <span>Volunteer Staff</span>
                    <ul>
                        <li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- /.single-staff -->
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="single-staff">
                    <div class="img">
                        <img src="~/Content/images/staff/4.jpg" alt="Image">
                        <div class="opacity tran3s">
                            <div>
                                <a href="staff-profile-v1.html"><span><i class="fa fa-location-arrow" aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div> <!-- /.img -->
                    <h6><a href="staff-profile-v1.html">FOQRUL MU</a></h6>
                    <span>Volunteer Staff</span>
                    <ul>
                        <li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- /.single-staff -->
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.our-staff -->
<!-- Client Slider ____________________ -->
<div class="client-slider-section">
    <div class="opacity">
        <div class="container">
            <div class="client-slider-wrapper">
                <div class="item">
                    <div class="item-wrapper">
                        <img src="~/Content/images/home/4.jpg" alt="Image">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        <span>Asfia ghost-CEO</span>
                    </div> <!-- /.item-wrapper -->
                </div> <!-- /.item -->
                <div class="item">
                    <div class="item-wrapper">
                        <img src="~/Content/images/home/5.jpg" alt="Image">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        <span>Asfia ghost-CEO</span>
                    </div> <!-- /.item-wrapper -->
                </div> <!-- /.item -->
                <div class="item">
                    <div class="item-wrapper">
                        <img src="~/Content/images/home/6.jpg" alt="Image">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        <span>Asfia ghost-CEO</span>
                    </div> <!-- /.item-wrapper -->
                </div> <!-- /.item -->
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.client-slider-section -->
<!-- Upcoming Events _________________________ -->
<div class="up-coming-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 coming-events">
                <div class="right-space-fix">
                    <h5 class="title-style-one">Upcoming Events</h5>
                    <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="single-box tran4s">
                                <p><span>25</span> February 16</p>
                                <h6>Homeless Event</h6>
                                <a href="events-details.html">Read More <span></span></a>
                            </div> <!-- /.single-box -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="single-box tran4s">
                                <p><span>26</span> February 16</p>
                                <h6>poor SL Event</h6>
                                <a href="events-details.html">Read More <span></span></a>
                            </div> <!-- /.single-box -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="single-box tran4s">
                                <p><span>27</span> February 16</p>
                                <h6>poor SL Event</h6>
                                <a href="events-details.html">Read More <span></span></a>
                            </div> <!-- /.single-box -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="single-box tran4s">
                                <p><span>28</span> February 16</p>
                                <h6>Cyclon victim</h6>
                                <a href="events-details.html">Read More <span></span></a>
                            </div> <!-- /.single-box -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="single-box tran4s">
                                <p><span>29</span> February 16</p>
                                <h6>Village fund</h6>
                                <a href="events-details.html">Read More <span></span></a>
                            </div> <!-- /.single-box -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="single-box tran4s">
                                <p><span>30</span> February 16</p>
                                <h6>Children fund</h6>
                                <a href="events-details.html">Read More <span></span></a>
                            </div> <!-- /.single-box -->
                        </div>

                    </div> <!-- /.row -->
                </div> <!-- /.right-space-fix -->
            </div> <!-- /.coming-events -->

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 become-help">
                <div>
                    <h5 class="title-style-one">Become Help</h5>
                    <p>Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                    <div class="img-box">
                        <img src="~/Content/images/home/7.jpg" alt="Image">
                        <div class="opacity">
                            <span>For You Right Choice</span>
                            <h6>CHANGE THEIR WORLD</h6>
                            <p>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit </p>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <a href="#" class="tran3s p-color-bg hvr-bounce-to-right" data-toggle="modal" data-target="#donate">Become Donator</a>
                        <a href="#" class="tran3s p-color-bg hvr-bounce-to-right">Become Adopter</a>
                    </div>
                </div>
            </div> <!-- /.become-help -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.up-coming-events -->
<!-- News/Blog _______________________ -->
<div class="our-blog">
    <div class="container">
        <div class="theme-title">
            <h2>News/blog</h2>
            <p>Check our latest news from online , change the work with your help/donate</p>
            <span></span>
        </div> <!-- /.theme-title -->
        <div class="clear-fix"></div>
        <div class="left-side float-left">
            <div class="post-large">
                <div class="img">
                    <img src="~/Content/images/news/1.jpg" alt="Blog Image">
                    <a href="#" class="tran3s p-color-bg hvr-bounce-to-right">Cyclone</a>
                </div> <!-- /.img -->
                <div class="post">
                    <h5><a href="blog-details.html" class="tran3s">Saving Healthcare in Village area</a></h5>
                    <p>Established fact that a reader will be distracted by the reada- ble content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distri- bution </p>
                    <a href="blog-details.html" class="read">Read Continue <span></span></a>
                </div> <!-- /.post -->
            </div> <!-- /.post-large -->
        </div> <!-- /.left-side -->

        <div class="right-side float-left">
            <div class="post-small clear-fix">
                <div class="img float-left">
                    <img src="~/Content/images/news/2.jpg" alt="Blog Image">
                    <a href="#" class="tran3s p-color-bg hvr-bounce-to-right">Homeless</a>
                </div> <!-- /.img -->
                <div class="post float-left">
                    <h6><a href="blog-details.html" class="tran3s">To a billion people around the world</a></h6>
                    <p>To a billion people around the world surviving on just a dollar a day, the question of what to eat tonight......</p>
                </div> <!-- /.post -->
            </div> <!-- /.post-small -->
            <div class="post-small clear-fix">
                <div class="img float-left">
                    <img src="~/Content/images/news/3.jpg" alt="Blog Image">
                    <a href="#" class="tran3s p-color-bg hvr-bounce-to-right">Donate</a>
                </div> <!-- /.img -->
                <div class="post float-left">
                    <h6><a href="blog-details.html" class="tran3s">I try to give to the poor people</a></h6>
                    <p>To a billion people around the world surviving on just a dollar a day, the question of what to eat tonight......</p>
                </div> <!-- /.post -->
            </div> <!-- /.post-small -->
            <div class="post-small clear-fix">
                <div class="img float-left">
                    <img src="~/Content/images/news/4.jpg" alt="Blog Image">
                    <a href="#" class="tran3s p-color-bg hvr-bounce-to-right">Donate</a>
                </div> <!-- /.img -->
                <div class="post float-left">
                    <h6><a href="blog-details.html" class="tran3s">There are two types of poor people</a></h6>
                    <p>To a billion people around the world surviving on just a dollar a day, the question of what to eat tonight......</p>
                </div> <!-- /.post -->
            </div> <!-- /.post-small -->
        </div> <!-- /.right-side -->
    </div> <!-- /.container -->
</div> <!-- /.our-blog -->
<!-- Subscribe Now ____________________ -->
<div class="subscribe-now p-color-bg">
    <div class="container">
        <h5>Subscribe now</h5>
        <p>Receive weekly newsletter with educational materials, new courses, most popular posts, popular books and much more!</p>
        <form action="#">
            <input type="email" placeholder="Email">
            <button class="p-color-bg hvr-bounce-to-right">Subcribe</button>
        </form>
    </div> <!-- /.container -->
</div> <!-- /.subscribe-now -->
<!-- Get In Touch _____________________ -->
<div class="get-in-touch">
    <div class="container">
        <div class="theme-title">
            <h2>Get in Touch</h2>
            <p>Contact Us</p>
            <span></span>
        </div> <!-- /.theme-title -->

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="contact-address">
                    <div class="single-content">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h5>OFFICE ADDRESS</h5>
                        <p>Head office 12 sector 7, Uttara Rood-15 H#12 Dhaka 1225 CA</p>
                    </div> <!-- /.single-content -->
                    <div class="single-content">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h5>Phone</h5>
                        <p>+8801712570051</p>
                    </div> <!-- /.single-content -->
                    <div class="single-content">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h5>Working hours</h5>
                        <p>Saturday To Thursday - 9am to 5pm <br>Friday - Closed</p>
                    </div> <!-- /.single-content -->
                    <div class="single-content">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <h5>Email</h5>
                        <p>help@charitybox.com</p>
                    </div> <!-- /.single-content -->
                </div> <!-- /.contact-address -->
            </div> <!-- /.col- -->

            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                <form action="inc/sendemail.php" class="form-validation" autocomplete="off">
                    <h5>SEND US EMAIL</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="single-input">
                                <input type="text" placeholder="Enter your full name" name="name">
                            </div> <!-- /.single-input -->
                        </div> <!-- /.col- -->
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="single-input">
                                <input type="email" placeholder="Enter your email" name="email">
                            </div> <!-- /.single-input -->
                        </div> <!-- /.col- -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="single-input">
                                <input type="text" placeholder="subject" name="sub">
                            </div> <!-- /.single-input -->
                        </div> <!-- /.col- -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="single-input">
                                <textarea placeholder="Write your message" name="message"></textarea>
                            </div> <!-- /.single-input -->
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                    <button class="tran3s p-color-bg hvr-bounce-to-right">Send Message</button>
                </form>

                <!-- Contact alert -->
                <div class="alert_wrapper" id="alert_success">
                    <div id="success">
                        <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <div class="wrapper">
                            <p>Your message was sent successfully.</p>
                        </div>
                    </div>
                </div> <!-- End of .alert_wrapper -->
                <div class="alert_wrapper" id="alert_error">
                    <div id="error">
                        <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <div class="wrapper">
                            <p>Sorry!Something Went Wrong.</p>
                        </div>
                    </div>
                </div> <!-- End of .alert_wrapper -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.get-in-touch -->