
@{
    ViewBag.Title = "_FooterPartial";
}
<!-- Footer _____________________________ -->
<footer>
    <div class="container">
        <div class="left-side float-left">
            <ul>
                <li class="icon"><a href="#" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="icon"><a href="#" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="icon"><a href="#" class="tran3s"><i class="fa fa-vine" aria-hidden="true"></i></a></li>
                <li class="icon"><a href="#" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li class="icon"><a href="#" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li class="icon"><a href="#" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div> <!-- /.left-side -->

        <div class="right-side float-right">
            <ul>
                <li><a href="cause.html" class="tran3s">Causes</a></li>
                <li><a href="faq.html" class="tran3s">Faq</a></li>
                <li><a href="#" class="tran3s">Supports</a></li>
                <li><a href="#" class="tran3s">Trust</a></li>
            </ul>
        </div> <!-- /.float-right -->

        <div class="section-middle float-left">
            <a href="index.html" class="logo"><img src="~/Content/images/logo/logo.png" alt="Image"></a>
            <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> <a href="https://themeforest.net/user/template_mr/portfolio" class="p-color tran3s" target="_blank">Template_mr</a>  2016. All Rights Reserverd. <br>Designed by <a href="https://themeforest.net/user/template_mr/portfolio" class="p-color tran3s" target="_blank">Mahfuz Riad</a>.</p>
        </div> <!-- /.section-middle -->
    </div> <!-- /.container -->
</footer>




<!-- Donate Modal _____________________________ -->
<div class="modal fade" id="donate" tabindex="-1" role="dialog">
    <div class="modal-dialog container" role="document">
        <div class="modal-content">
            <div class="donation-form-wrapper clear-fix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="donate-heading p-color-bg">
                    <h6>DONATE TODAY <br> You are donating to : <span>Bd Homeless Children</span></h6>
                </div> <!-- /.donate-heading -->
            </div> <!-- End of .donation-form-wrapper -->

            <form action="#">
                <p>Your Donation</p>
                <div class="donate-amount clear-fix">
                    <span class="donate-price float-left p-color-bg">$20</span>
                    <span class="donate-price float-left p-color-bg">$30</span>
                    <span class="donate-price float-left p-color-bg">$50</span>
                    <span class="donate-price float-left p-color-bg">$70</span>
                    <input type="text" placeholder="Type your amount ( $ )" class="donate-amount-handelar float-left">
                </div> <!-- /.donate-amount -->
                <p>Your Details</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="First name">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="Last name">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="Phone">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="email" placeholder="Email">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                </div> <!-- /.row -->
                <p>Card Information</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="Card Number">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="cvc">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="Expiration Month (MM)">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <input type="text" placeholder="Expiration Year  (YYYY)">
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-input">
                            <textarea placeholder="Extra Note"></textarea>
                        </div> <!-- /.single-input -->
                    </div> <!-- /.col- -->
                </div> <!-- /.row -->

                <div class="clear-fix">
                    <button class="submit p-color-bg float-left hvr-bounce-to-right">DONATE</button>
                    <a href="#" class="p-color-bg paypal float-right hvr-bounce-to-right"><i class="fa fa-paypal" aria-hidden="true"></i> Give by Paypal</a>
                </div>
            </form>
        </div> <!-- End of .modal-content -->
    </div> <!-- End of .modal-dialog -->
</div> <!-- End of #donate -->
<!-- Scroll Top Button -->
<button class="scroll-top tran3s p-color-bg round-border">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</button>
<!-- pre loader  -->
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
